*.egg-info/
.idea/
build/
site/
dist/
**/__pycache__/
**/.ipynb_checkpoints/
**/.ipython_config/
*.whl
*.tar.gz
readme_development.md
examples/pytorch_mnist/datasets/mnist/
examples/pytorch_mnist/experiments/my_campaign/experiments/
